<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>Photogram</title>
</head>
<body >
  <div class="container">
    <div class="col-md-6">
      <a href="/photos/new">Add a new photo</a>
      <h1>All Photos</h1>
      <% @list_of_photos.each do |photo| %>
      <div class="thumbnail">
        <img src="<%= photo.source %>" >
        <p>
          <%= photo.caption %>
        </p>
        <div class="caption">
          <a href="http://localhost:3000/photos/<%= photo.id %>" class="btn btn-default btn-block"> Show Details</a>
          <a href="http://localhost:3000/photos/<%= photo.id %>/edit" class="btn btn-default btn-block">Edit</a>
          <a href="http://localhost:3000/delete_photo/<%= photo.id %>" class="btn btn-default btn-block">Delete</a>

          <p></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</body>
</html>
